site_name: Algorithms for Competitive Programming
site_url: https://deanqkhanhcoder.github.io/cp-algorithms-vi/
site_description: 'Bản dịch tiếng Việt của dự án cp-algorithms'
docs_dir: src
site_dir: public
use_directory_urls: false
theme:
  name: material
  custom_dir: src/overrides  # <--- BẮT BUỘC PHẢI CÓ DÒNG NÀY
  palette:
    # 1. Dark Mode làm mặc định
    - scheme: slate 
      primary: teal
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # 2. Light Mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  font:
    text: Roboto
    code: JetBrains Mono
  logo: favicon.ico
  favicon: favicon.ico
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.top
    - navigation.tracking
    - toc.follow
    - toc.integrate
    - search.suggest
    - content.code.copy
repo_url: https://github.com/deanqkhanhcoder/cp-algorithms-vi
repo_name: deanqkhanhcoder/cp-algorithms-vi
edit_uri: edit/main/src/
copyright: Text is available under the <a href="https://github.com/deanqkhanhcoder/cp-algorithms-vi/blob/main/LICENSE">Creative Commons Attribution Share Alike 4.0 International</a> License<br/>Copyright &copy; 2014 - 2025 by <a href="https://github.com/deanqkhanhcoder/cp-algorithms-vi/graphs/contributors">cp-algorithms contributors</a>
extra_javascript:
  - javascript/config.js
  - javascript/donation-banner.js
  - https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
      tex_inline_wrap: ['$', '$']
      tex_block_wrap: ['$$', '$$']
  - pymdownx.highlight
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - meta
  - toc:
      permalink: true

plugins:
  - toggle-sidebar:
      toggle_button: all
  - search
  - tags
  - literate-nav:
      nav_file: navigation.md
  - macros:
  # Đã xóa rss, git-revision, git-authors, git-committers